<%- include('partials/header') %> 
<div style="width:800px; margin:0 auto;">
    <h2> Trees</h2>
    <p style="width:800px; margin:0 auto;"> <%= aboutC %>  </p>
    <p style="width:800px; margin:0 auto;">"I think that I shall never see A poem lovely as a tree. <br>
        A tree whose hungry mouth is prest. <br>
        Against the earth's sweet flowing breast  <br>
        A tree that looks at God all day, And lifts her leafy arms to pray<br>
        A tree that may in summer wear A nest of robins in her hair<br>
        Upon whose bosom snow has lain <br>
        Who intimately lives with rain. <br>
       Poems are made by fools like me, But only God can make a tree."</p>
    <h5> By Joyce Kilmer</h5>
</div>

<%- include('partials/footer') %> 