<%- include('partials/header') %> 
<!--Section: Contact v.2-->

<div>
    <h1>Contact us</h1>
    <a href = "shantanushinde603@gmail.com">Send Email</a>
</div>
<!--Section: Contact v.2-->
<%- include('partials/footer') %> 